<nav class="nav">
    <a class="f_link" href="/">home</a>
    <a class="f_link" href="/about">about</a>
    <a class="f_link" href="/profile">profile</a>
    <a class="f_link" href="/profile/post/">post</a>
    <a class="f_link" href="/profile/ongoing/">ongoing</a>
</nav>