<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <div class="header">
        <h1>MY AUCTION</h1>
    </div>
    
    <div class="content">
        <section>
            <h2>my blogs</h2>
            <h2>my blogs</h2>
            <h2>my blogs</h2>
            <h2>my blogs</h2>
            <h2>my blogs</h2>
            <h2>my blogs</h2>
            <h2>my blogs</h2>
        </section>
    </div>

    <div class="nav">
        <%- include('./partials/nav.ejs') %>
    </div>

</body>
</html>